body {
    margin: 0px;
}
.content {
    padding: 50px 11%;
}
.line {
    width: 20px;
    height: 2px;
    text-align: left;
    background-color; #000;
}
.row-2 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    text-align: center;
    grid-gap: 0px 2%;
}
article {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    padding: 25px;
}
article h4 {
    text-transform: uppercase;
}

@media (max-width : 400px) { 
    
}