#four-o-four {
    h1 {
        text-align: center;
        display: block;
        margin: 25px 0;
    }
    p {
        margin-bottom: 25px;
    }
    .button-one {
        text-align: center
    }
    @media (max-width: 980px) {
        p {
            margin-bottom: 50px;
        }
    }
}