#article {
    textarea {
		line-height: 32px;
		margin-bottom: 10px;
		width: 100%;
		color: white;
		background: transparent;
		border: none;
		font-size: 22px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		resize: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		outline: none;
		vertical-align: middle;
	}
	textarea:focus {
		border-bottom: 1px solid $secondary_color;
		caret-color: $secondary_color;
	}
    h1 {
        margin-bottom: 25px;
    }
    h2 {
        margin: 25px 0;
    }
    #messages p {
        color: #9e9e9e;
        margin-bottom: 50px;
    }
    p {
        margin-bottom: 22px;
    }
    img {
        margin: 0 22px;
    }
    .author, .date {
        font-size: 18px;
        color: white;
    }
    @mixin set-button($float: null) {
        @if ($float == right) or ($float == left) {
          float: $float; 
        }
      
        @if ($float == right) {
          margin-right: 0px;
          float: right;
        } @else {
          margin-left: 0px;
          float: left;
        }
    }
    #nine-eleven {
        @include set-button(right);
    }
    #MKUltra {
        width: 100%;
        margin: 0 0 22px 0;
    }
    #cancer {
        width: 320px;
        @include set-button(left);
    }
    #lincoln {
        width: 300px;
        @include set-button(right);
    }
    @media (max-width: 980px) {
        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 16px;
        }
        img {
            margin: 0;
            width: 100%!important;
            float: none!important;
        }
        .author, .date {
            font-size: 14px;
        }
        textarea {
			line-height: 24px;
			font-size: 16px;
		}
		button {
			font-size: 14px;
		}
    }
}