#contact {
    form {
        width: 600px;
        margin: auto;
    }
    label, #counter {
        color: rgba(255, 255, 255, 0.75);
        font-size: 18px;
    }
    #counter {
        margin-bottom: 25px;
        text-align: right;
    }
    input {
        height: 42px;
        margin-bottom: 25px;
    } 
    textarea {
        line-height: 32px;
        margin-bottom: 10px;
    }
    input, textarea {
        width: 100%;
        color: white;
        background: transparent;
        border: none;
        font-size: 22px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        resize: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        outline: none;
        vertical-align: middle;
    }
    input:focus, textarea:focus {
        border-bottom: 1px solid $secondary_color;
        caret-color: $secondary_color;
    }
    input[type=checkbox] {
        width: auto;
        margin: 0;
        height: 13px;
    }
    button {
        display: inherit;
        margin-top: 25px;
    }
    @media(max-width:980px) {
        form {
            width: 100%;
        }
        label, #counter {
            font-size: 14px;
        }
        input {
            height: 36px;
        }
        textarea {
            line-height: 24px;
        }
        input, textarea {
            font-size: 16px;
        }
        button {
            font-size: 14px;
        }
    }
}