#index {
    #main-content {
        max-width: 438px;
    }
    h1 {
        text-align: center;
        margin: 25px 0;
        width: 100%;
    }
    p {
        margin-bottom: 25px;
    }
    .button-one {
        text-align: center;
        width: 100%;
    }
}