#news {
	#nine-eleven, #mkultra, #cancer, #lincoln-and-kennedy {
		display: none;
	}
	h2 {
		margin-bottom: 25px;
		text-decoration: underline
	}
	p {
		margin-bottom: 25px
	}
	.read-more {
		margin-bottom: 50px;
		font-size: 22px;
		display: inline-block
	}
	@media (max-width: 980px) {
		h2 {
			margin-bottom: 20px
		}
		p {
			margin-bottom: 10px
		}
		.read-more {
			margin-bottom: 10px;
			font-size: 16px
		}
	}
}